<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List of Celebrities</title>
  </head>
  <body>
    <h2>List of Celebrities</h2>

    <ul>
      {{#each celebrities}}
        <li>Name:
          {{this.name}}
          <br />
          Occupation:
          {{this.occupation}}
          <br />
          Catch Phrase:
          {{this.catchPhrase}}
        </li>

      {{/each}}

    </ul>

    <a href="/">Back to Home</a>

  </body>
</html>