<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Movies and Celebrities App</h1>
    <p>Your collection of Celebrities and Movie information</p>
    <br />

    <h4>What do you want to do?</h4>
    <br />

    <a href="/celebrities/create">Add new celebrity</a>
    <br />
    <a href="/celebrities/celebrities">Check all celebrities</a><br />
    <a href="/movies/movies">See all movies</a>
    <br />
    <a href="/movies/create">Add new movie</a>

  </body>
</html>